VITE_API_URL=http://localhost:5000/api
VITE_APP_NAME=Croscek Kehadiran
VITE_DEBUG=false
VITE_JWT_TOKEN_KEY=access_token

VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your_publishable_key
VITE_SUPABASE_ANON_KEY=your_anon_key
